#header {
    background: #222;
    /*padding: 10px 0;*/
}

#header-links {
    float: right;
    color: white;
}

#transcript_dropdown {
    margin: 0px 0px 20px 0px;
}

#header-links a {
    color: white;
    font-weight: bold;
}

.card-block>h4  {
    line-height: 2 !important;
}

.hist_bar {
  fill: orange;
}

.hist_bar_small {
  fill: blue;
}


.hist_bar:hover {
  fill: orangeRed;
}

.navbar {
    margin-bottom: 0px;
}

.navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav>li>a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#home-title {
    text-align: center;
    padding: 30px;
}

#home-searchbox {
    margin: 20px 0;
}


.dl-horizontal dt {
    white-space: normal;
    width: 280px;
    margin-right: 5%;

}

.tooltip_hover {
    border-bottom: dotted 1px #000;
}

.section_header {
    font-weight: bold;
    font-size: 24px;
}

.d3-tip {
  z-index: 5;
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  width: 250px;
  height: 150px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



.d3-tip-small {
  z-index: 5;
  line-height: 0.7;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  width: 200px;
  height: 50px;
}



.d3-tip-map {
  z-index: 5;
  line-height: 0.7;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  width: 310px;
  height: 80px;
}



.table_hover {
    background-color: #b5f7ff !important;
}


