{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>Acknowledgements</h1>
        <div class="row" style="font-size: 16px;">
            <p>
            We want to thank Ben Weisburd, Matthew Solomonson and Konrad Karczewski for helping with the browser, which is based on the gnomAD browser. 
            We also want to thank Ben Neale's lab member and particularly Claire Churchhouse for administrative support.
            </p>
            <p>
            This project is developped using Uk Biobank resources, application #31063.
        </div>
    </div>

{% endblock %}