{% extends "layout.html" %}
{% block body %}


<script type="text/javascript">


$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})




// Define margins for the histogram
chart_margin = {top: 20, right: 20, bottom: 70, left: 50},
    hist_chart_width = 600 - chart_margin.left - chart_margin.right,
    hist_chart_height = 300 - chart_margin.top - chart_margin.bottom;


// Define margins for the small histograms
chart_margin_small = {top: 20, right: 40, bottom: 40, left: 40},
    hist_chart_small_width = 350 - chart_margin_small.left - chart_margin_small.right,
    hist_chart_small_height = 200 - chart_margin_small.top - chart_margin_small.bottom;


// Define margins for map
map_margin = {top: 5, right: 5, bottom: 0, left: 5},
    map_chart_width = 200 - chart_margin.left - chart_margin.right,
    map_chart_height = 400 - chart_margin.top - chart_margin.bottom;




$(document).ready(function() {

        window.res_mod={{ res_mod|tojson|safe }};
        window.res_mod_after={{ res_mod_after|tojson|safe }};
        window.incidence={{ incidence|tojson|safe }};
        window.mort_rate={{ mort_rate|tojson|safe }};
        window.read_rate={{ read_rate|tojson|safe }};
        window.rfreport={{ rfreport|tojson|safe }};
        com_comorb={{ com_comorb|safe }};
        window.geoevent={{ geoevent|tojson|safe }};
        window.histbin={{ histbin|tojson|safe }};
        window.indsex={{ indsex|tojson|safe }};
        window.ukbmeans={{ ukbmeans|tojson|safe }};
        window.code={{ code|tojson|safe }};

        console.log(window.rfreport)

        var temp = res_mod.filter(function (obj) {
                return obj.time === '8-999999999999';});
        var first_datain = temp.sort(function(a, b) {
                return parseFloat(b.RR) - parseFloat(a.RR);});


        var temp = res_mod_after.filter(function (obj) {
                return obj.time === '8-999999999999';});
        var first_datain_after = temp.sort(function(a, b) {
                return parseFloat(b.RR) - parseFloat(a.RR);});


        // Plot first 20 ICD codes for the histogram
        hist_chart(first_datain.slice(0,20), hist_chart_width, hist_chart_height, chart_margin, id='#svg_hist_chart')
        hist_chart(first_datain_after.slice(0,20),  hist_chart_width, hist_chart_height, chart_margin, id='#svg_hist_chart_after')

        // Plot time chart
        time_chart(window.incidence,  hist_chart_width, hist_chart_height, chart_margin, id='#svg_time_chart')


        // Plot risk factors charts 

        var hist1 = window.histbin[0]
        hist_chart_bins(hist1,hist_chart_small_width, hist_chart_small_height, chart_margin_small,"BMI",id='#bin_chart1')

        add_line_to_hist_chart_bins(hist1,window.rfreport[0], 'bmi_mean_M','bmi_lci_M','bmi_uci_M','bmi_label_M',window.ukbmeans[0]['bmi_male_mean'],hist_chart_small_width, hist_chart_small_height, chart_margin_small,id='#bin_chart1')



        var hist2 = window.histbin[1]
        hist_chart_bins(hist2,hist_chart_small_width, hist_chart_small_height, chart_margin_small,"BMI",id='#bin_chart2')

        add_line_to_hist_chart_bins(hist2,window.rfreport[0], 'bmi_mean_F','bmi_lci_F','bmi_uci_F','bmi_label_F',window.ukbmeans[0]['bmi_female_mean'],hist_chart_small_width, hist_chart_small_height, chart_margin_small,id='#bin_chart2')



        var hist3 = window.histbin[2]
        hist_chart_bins(hist3,hist_chart_small_width, hist_chart_small_height, chart_margin_small,"SBP",id='#bin_chart3')

        add_line_to_hist_chart_bins(hist3,window.rfreport[0], 'sbp_mean_M','sbp_lci_M','sbp_uci_M','sbp_label_M',window.ukbmeans[0]['sbp_male_mean'],hist_chart_small_width, hist_chart_small_height, chart_margin_small,id='#bin_chart3')



        var hist4 = window.histbin[3]
        hist_chart_bins(hist4,hist_chart_small_width, hist_chart_small_height, chart_margin_small,"SBP",id='#bin_chart4')

        add_line_to_hist_chart_bins(hist4,window.rfreport[0], 'sbp_mean_F','sbp_lci_F','sbp_uci_F','sbp_label_F',window.ukbmeans[0]['sbp_female_mean'],hist_chart_small_width, hist_chart_small_height, chart_margin_small,id='#bin_chart4')



        var Mtip = Math.round(window.ukbmeans[0]['smoke_male_mean']*100)
        dataTM = [
        {label:"UKBB", value:window.ukbmeans[0]['smoke_male_mean']*100, labtip: Mtip+="%"},
        {label:String(window.code), value:window.rfreport[0]['smk_mean_M']*100, labtip: window.rfreport[0]['smk_label_M']}
        ];

        var Ftip = Math.round(window.ukbmeans[0]['smoke_female_mean']*100)

        dataTF = [
        {label:"UKBB", value:window.ukbmeans[0]['smoke_female_mean']*100, labtip: Ftip+="%"},
        {label:String(window.code), value:window.rfreport[0]['smk_mean_F']*100, labtip: window.rfreport[0]['smk_label_F']}
        ];


        bar_chart(dataTM,hist_chart_small_width, hist_chart_small_height, chart_margin_small,id='#smoke_chart1')

        
        bar_chart(dataTF,hist_chart_small_width, hist_chart_small_height, chart_margin_small,id='#smoke_chart2')


        // Plot map
        map_chart(window.geoevent,map_chart_width, map_chart_height, map_margin, id='#svg_map_chart')


        $('.hist_buttons').change(function () {
            var v1 = $(this).attr('id'); 

            var data = window.res_mod
            var data_after = window.res_mod_after
            
            var temp = data.filter(function (obj) {
            return obj.time === v1 & obj.RR >= 1;});
            var data_query = temp.sort(function(a, b) {
            return parseFloat(b.RR) - parseFloat(a.RR);});

            var temp2 = data_after.filter(function (obj) {
            return obj.time === v1 & obj.RR >= 1;});
            var data_query_after = temp2.sort(function(a, b) {
            return parseFloat(b.RR) - parseFloat(a.RR);});

            change_hist_chart(data_query.slice(0,20), hist_chart_width, hist_chart_height, chart_margin, id='#svg_hist_chart');
            change_hist_chart(data_query_after.slice(0,20), hist_chart_width, hist_chart_height, chart_margin,id='#svg_hist_chart_after');
             
        });


        $('.timetrend_buttons').change(function () {
            var v1 = $(this).attr('id'); 

            time_chart_change(window.incidence, v1, hist_chart_width, hist_chart_height, chart_margin, id='#svg_time_chart')
  
        });


        // newvar2 =   {{ prevalence_F }} + 100
        // $("#editable_div").html("<b>"+newvar2+"</b>")

});



</script>



<div class="container-fluid col-xs-offset-1 col-md-offset-1">

    <div class="col-md-10">
        <h1> ICD code: <a href="http://apps.who.int/classifications/icd10/browse/2016/en#/{{ code }}">{{ code }} </a> - {{ label }} </h1>
        <hr/>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h3 > Descriptive statistics  <img src="/static/images/blue_question_mark.png" height="13px" data-toggle="tooltip" title="These statistics consider only one event per individual (the first experienced in the registries timeframe)"/> </h3>
          <table class="table">
              <thead>
                  <tr>
                      <th style="padding-top: 4px;"> </th>
                      <th style="padding-top: 4px;"> Male </th>
                      <th style="padding-top: 4px;"> Female </th>
                      <th style="padding-top: 4px;"> Total </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td> N. individuals </td>
                      <td> {{ n_events_M }} ( {{n_events_M_per}}%)</td>
                      <td> {{ n_events_F }} ( {{n_events_F_per}}%)</td>
                      <td> {{ n_events_TOT }} </td>
                  </tr>
                  <tr>
                      <td> N. individual with event after baseline </td>
                      <td> {{ n_afterbs_M }} ( {{n_afterbs_M_per}}%) </td>
                      <td> {{ n_afterbs_F }} ( {{n_afterbs_F_per}}%) </td>
                      <td> {{ n_afterbs_TOT }} </td>
                  </tr>
                  <tr>
                      <td> Prevalence (%) </td>
                      <td > {{ prevalence_M }} </td>
                      <td> {{ prevalence_F }} </td>
                      <td> {{ prevalence_TOT }} </td>
                  </tr>
                  <tr>
                      <td> Mean age at first event </td>
                      <td> {{ meanage_M }} </td>
                      <td> {{ meanage_F }} </td>
                      <td> {{ meanage_TOT }} </td>
                  </tr>
                  <tr>
                      <td rowspan ="3" > Most common comorbidities (% and number of individuals) </td>
                      <td>  {{ com_comorb[0]["value1"] }} </td>
                      <td>  {{ com_comorb[1]["value1"] }} </td>
                      <td>  {{ com_comorb[2]["value1"] }} </td>
                  </tr>
                      <td> {{ com_comorb[0]["value2"] }} </td>
                      <td> {{ com_comorb[1]["value2"] }} </td>
                      <td> {{ com_comorb[2]["value2"] }} </td>
                  </tr>
                  </tr>
                      <td> {{ com_comorb[0]["value3"] }} </td>
                      <td> {{ com_comorb[1]["value3"] }} </td>
                      <td> {{ com_comorb[2]["value3"] }} </td>
                  </tr>
              </tbody>
          </table>
      </div> 
    </div>
    <div class="row">
    {% if mort_rate %}
      <div class="col-md-4">
          <h3> 5-year mortality <img src="/static/images/blue_question_mark.png" height="13px" data-toggle="tooltip" title="It considers only events after baseline and it is calculated only if more than 10 deaths are observed"/></h3>
          <table class="table">
              <thead>
                  <tr>
                      <th style="padding-top: 4px;"> </th>
                      <th style="padding-top: 4px;"> </th>
                      <th style="padding-top: 4px;"> </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td> Hazard Ratio </td>
                      <td colspan="2"  style="text-align:center;"> {{ mort_rate[0].RR }} </td>
                  </tr>
                  <tr>
                      <td rowspan ="6" > Absolute Risk </td>
                      <td>  M - 40 y. </td>
                      <td>  {{mort_rate[0].abs_40_M }} </td>
                  </tr>
                  <tr>
                      <td> F - 40 y. </td>
                      <td> {{mort_rate[0].abs_40_F }} </td>
                  </tr>
                  <tr>
                      <td> M - 50 y. </td>
                      <td> {{mort_rate[0].abs_50_M }} </td>
                  </tr>
                  <tr>
                      <td> F - 50 y. </td>
                      <td> {{mort_rate[0].abs_50_F }} </td>
                  </tr>
                  <tr>
                      <td> M - 60 y. </td>
                      <td> {{mort_rate[0].abs_60_M }} </td>
                  </tr>
                  <tr>
                      <td> F - 60 y. </td>
                      <td> {{mort_rate[0].abs_60_F }} </td>
                  </tr>
              </tbody>
          </table>
      </div> 
    {% endif %}
    {% if read_rate %}
      <div class="col-md-4">
          <h3> 30-days in-patient readmission <img src="/static/images/blue_question_mark.png" height="13px" data-toggle="tooltip" title="It considers in-patients co-morbid events that happened between 1 and 30 days after the main event, it is calculated only if more than 10 co-morbid events are observed"/></h3>
          <table class="table">
              <thead>
                  <tr>
                      <th style="padding-top: 4px;"> </th>
                      <th style="padding-top: 4px;"> </th>
                      <th style="padding-top: 4px;"> </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td> Readmitted/total </td>
                      <td colspan="2"  style="text-align:center;"> {{read_rate[0].readmitted_prop}} </td>
                  </tr>
                  <tr>
                      <td rowspan ="6" > Probability </td>
                      <td>  M - 40 y. </td>
                      <td>  {{read_rate[0].abs_40_M }} </td>
                  </tr>
                  <tr>
                      <td> F - 40 y. </td>
                      <td> {{read_rate[0].abs_40_F }} </td>
                  </tr>
                  <tr>
                      <td> M - 50 y. </td>
                      <td> {{read_rate[0].abs_50_M }} </td>
                  </tr>
                  <tr>
                      <td> F - 50 y. </td>
                      <td> {{read_rate[0].abs_50_F }} </td>
                  </tr>
                  <tr>
                      <td> M - 60 y. </td>
                      <td> {{read_rate[0].abs_60_M }} </td>
                  </tr>
                  <tr>
                      <td> F - 60 y. </td>
                      <td > {{read_rate[0].abs_60_F }} </td>
                  </tr>
                  <tr>
                      <td width="130"> % Readmitted with adverse drug reaction </td>
                      <td colspan="2"  style="text-align:center;"> {{read_rate[0].ndrugad_p}} </td>
                  </tr>
              </tbody>
          </table>
      </div> 
    {% endif %}
    </div>
    <hr/>

    <div class="row">
      <h3> Risk factors <img src="/static/images/blue_question_mark.png" height="13px" data-toggle="tooltip" title="In blue: Distribution of risk factors in all UKBB. Red line: mean (solid) and standard errors (dashed) for individuals with ICD code"/></h3>
 <!--      <div class="col-md-4">
       <select class="form-control">
        <option id="BMI">Body Mass Index</option>
        <option id="SBP">Systolic Blood Pressure</option>
        <option id="SMOKE">Smoking</option>
       </select>
      </div> -->


      <h4> Body Mass Index </h4>
      {% if indsex=="M" or indsex=="MF" %}
      <div class="col-md-4">
          <h5> Male </h5>
            <svg style="width: 350; height:200" id="bin_chart1"/>
        </div>
      {% endif %}
      {% if indsex=="F" or indsex=="MF" %}
        <div class="col-md-4">
            <h5> Female </h5>
            <svg style="width: 350; height:200" id="bin_chart2"/>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <h4> Systolic Blood Pressure </h4>
      {% if indsex=="M" or indsex=="MF" %}
        <div class="col-md-4">
            <h5> Male </h5>
            <svg style="width: 350; height:200" id="bin_chart3"/>
        </div>
      {% endif %}
      {% if indsex=="F" or indsex=="MF" %}
        <div class="col-md-4">
            <h5> Female </h5>
            <svg style="width: 350; height:200" id="bin_chart4"/>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <h4> Smoking </h4>
      {% if indsex=="M" or indsex=="MF" %}
        <div class="col-md-4">
            <h5> Male </h5>
            <svg style="width: 350; height:200" id="smoke_chart1"/>
        </div>
      {% endif %}
      {% if indsex=="F" or indsex=="MF" %}
        <div class="col-md-4">
            <h5> Female </h5>
            <svg style="width: 350; height:200" id="smoke_chart2"/>
        </div>
      {% endif %}
    </div>
    <hr/>

    <div class="row">
      <div class="col-md-5">
          <h3>Report</h3>
          <div class="card">
              <div class="card-block">
                  <h4> {{ report_out }}
                </h4>
              </div>
          </div>
          <hr/>
      </div>
      <div class="col-md-5  col-xs-offset-1 col-md-offset-1">
          <h3>Map <img src="/static/images/blue_question_mark.png" height="13px" data-toggle="tooltip" title="Shows the number of events in regions where UK Biobank assessment centers were recruiting partecipants"/></h3>
              <svg style="width: 200; height:400" id="svg_map_chart"/>
      </div>
    </div>
    {% if res_mod or res_mod_after %}
    <div class="row">
        <div class="col-md-7">
            <h3>Association with other diseases <img src="/static/images/blue_question_mark.png" height="13px" data-toggle="tooltip" title="Calculated if the co-morbid events are observed in > 10 individuals. We used time-varying covariate survival analysis."/></h3>
            <br>
            <div class="row">
                <span>
                    <label for="hist_buttons">
                        Display:
                    </label>

                    <span class="btn-group" data-toggle="buttons" id="hist_buttons">


                        <button class="btn btn-primary active hist_buttons"
                              id="8-999999999999" data-toggle="tooltip" title="Includes all comorbidities">
                          <input type="radio">All</input>
                        </button>

                        <button class="btn btn-primary hist_buttons"
                              id="8-180" data-toggle="tooltip" title="Comorbidities between 8 days and 6 months">
                          <input type="radio"> Short-term </input>
                        </button>

                    </span>
                </span> 
                <br>
                <br>
                <h4>ICD codes (N>10) observed before {{ code }} </h4>
                <br
                <span style="overflow-x: scroll; display: inline-block">
                    <svg style="width: 600; height:300" id="svg_hist_chart"/>
                </span>
                <br>
                <h4>ICD codes (N>10) observed after {{ code }} </h4>
                <br>
                <span style="overflow-x: scroll; display: inline-block">
                    <svg style="width: 600; height:300" id="svg_hist_chart_after"/>
                </span>
            </div> 
        </div>
    </div>
    {% endif %}
    {% if incidence %}
    <div class="row">
        <div class="col-md-7">
          <h3>Time trend</h3>
          <br>
          <span>
                  <label for="timetrend_buttons">
                      Dispaly:
                  </label>
                  <span class="btn-group" data-toggle="buttons" id="timetrend_buttons">
                      <button class="btn btn-primary active timetrend_buttons"
                            id="incidence" data-toggle="tooltip" title="Number of unique events for a year / total number of individuals alive at the beginning of the year">
                        <input type="radio">Incidence</input>
                      </button>

                      <button class="btn btn-primary timetrend_buttons"
                            id="n_events" data-toggle="tooltip" title="Number of unique events for a year">
                        <input type="radio"> N. events </input>
                      </button>
                  </span>
            </span> 
            <br>
            <br>
            <span style="overflow-x: scroll; display: inline-block">
                <svg style="width: 600; height:300"  id="svg_time_chart"/>
        </div>
    </div>
    {% endif %}

</div>



{% endblock %}
