{% extends "layout.html" %}
{% block body %}


<script type="text/javascript">


chart_margin = {top: 20, right: 20, bottom: 70, left: 50},
    hist_chart_width = 800 - chart_margin.left - chart_margin.right,
    hist_chart_height = 300 - chart_margin.top - chart_margin.bottom;



function hist_chart(data) {

    
    var x = d3.scaleBand()
        .rangeRound([0, hist_chart_width])
        .padding(0.1)
        .domain(data.map(function(d) { return d.comorbidevent; }));

    var y = d3.scaleLinear()
        .range([hist_chart_height, 0])
        .domain([0, d3.max(data, function(d) { return d.RR; })]);

    var tip = d3.tip()
        .attr('class', 'd3-tip')
        //.offset([120, 0])
        .html(function(d) { 
            return "<p><b style='color:red' align='center' >" + d.label + "</b></p>" +
                    "<p> <strong>N with </strong>" + d.comorbidevent + ": " + d.count_a + "</p>" +
                    "<p> <strong>With </strong>" + d.comorbidevent + ": " + d.count_a_count_ab + "</p>" +
                    "<p> <strong>Without </strong>" + d.comorbidevent + ": " + d.count_c_count_cd + "</p>" +
                    "<p> <strong>P: </strong>" + d.signlabel + "</p>"
             });

    var xAxis = d3.axisBottom(x);

    var yAxis = d3.axisLeft(y);


    var svg = d3.select('#svg_hist_chart')
        .attr("width", hist_chart_width)
        .attr("height", hist_chart_height)
        .append("g")
        .attr('id', 'inner_graph')
        .attr("transform", "translate(" + chart_margin.left + "," + chart_margin.top + ")");

    svg.call(tip);

    svg.selectAll("bar")
        .data(data, function(d){return d.indexkey;})
        .enter()
        .append("rect")
        .attr("class", "hist_bar")
        .attr("x", function(d) { return x(d.comorbidevent); })
        .attr("y", function(d) { return y(d.RR); })
        .attr("width", x.bandwidth())
        .attr("height", function(d) { return (hist_chart_height - y(d.RR)); })
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide)

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + hist_chart_height + ")")
        .call(xAxis);
    
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

    svg.append("text") 
      .attr("id", "xlabel")             
      .attr("transform",
            "translate(" + (hist_chart_width/2) + " ," + (hist_chart_height + chart_margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("Comorbid ICD");

    svg.append("text")
      .attr("id", "ylabel")   
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - chart_margin.left)
      .attr("x",0 - (hist_chart_height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Hazard Ratio"); 

}



function hist_chart_after(data) {

    
    var x = d3.scaleBand()
        .rangeRound([0, hist_chart_width])
        .padding(0.1)
        .domain(data.map(function(d) { return d.comorbidevent; }));

    var y = d3.scaleLinear()
        .range([hist_chart_height, 0])
        .domain([0, d3.max(data, function(d) { return d.RR; })]);

    var tip = d3.tip()
        .attr('class', 'd3-tip')
        //.offset([120, 0])
        .html(function(d) { 
            return "<p><b style='color:red' align='center' >" + d.label + "</b></p>" +
                    "<p> <strong>N with </strong>" + d.comorbidevent + ": " + d.count_a + "</p>" +
                    "<p> <strong>With </strong>" + d.comorbidevent + ": " + d.count_a_count_ab + "</p>" +
                    "<p> <strong>Without </strong>" + d.comorbidevent + ": " + d.count_c_count_cd + "</p>" +
                    "<p> <strong>P: </strong>" + d.signlabel + "</p>"
             });

    var xAxis = d3.axisBottom(x);

    var yAxis = d3.axisLeft(y);


    var svg = d3.select('#svg_hist_chart_after')
        .attr("width", hist_chart_width)
        .attr("height", hist_chart_height)
        .append("g")
        .attr('id', 'inner_graph')
        .attr("transform", "translate(" + chart_margin.left + "," + chart_margin.top + ")");

    svg.call(tip);

    svg.selectAll("bar")
        .data(data, function(d){return d.indexkey;})
        .enter()
        .append("rect")
        .attr("class", "hist_bar")
        .attr("x", function(d) { return x(d.comorbidevent); })
        .attr("y", function(d) { return y(d.RR); })
        .attr("width", x.bandwidth())
        .attr("height", function(d) { return (hist_chart_height - y(d.RR)); })
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide)

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + hist_chart_height + ")")
        .call(xAxis);
    
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

    svg.append("text") 
      .attr("id", "xlabel")             
      .attr("transform",
            "translate(" + (hist_chart_width/2) + " ," + (hist_chart_height + chart_margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("Comorbid ICD");

    svg.append("text")
      .attr("id", "ylabel")   
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - chart_margin.left)
      .attr("x",0 - (hist_chart_height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Hazard Ratio"); 


}



function change_hist_chart(data) {

    // if (data[metric].length > 0)
    // {

    
    var x = d3.scaleBand()
        .rangeRound([0, hist_chart_width])
        .padding(0.1)
        .domain(data.map(function(d) { return d.comorbidevent; }));

    var y = d3.scaleLinear()
        .range([hist_chart_height, 0])
        .domain([0, d3.max(data, function(d) { return d.RR; })]);

    var tip = d3.tip()
        .attr('class', 'd3-tip')
        .html(function(d) { 
            return "<p style='color:red' align='center'>" + d.label + "</p>" +
                    "<p> <strong>N with </strong>" + d.comorbidevent + ": " + d.count_a + "</p>" +
                    "<p> <strong>With </strong>" + d.comorbidevent + ": " + d.count_a_count_ab + "</p>" +
                    "<p> <strong>Without </strong>" + d.comorbidevent + ": " + d.count_c_count_cd + "</p>" +
                    "<p> <strong>P: </strong>" + d.signlabel + "</p>"
             });

    var xAxis = d3.axisBottom(x);

    var yAxis = d3.axisLeft(y);

    
    var svg = d3.select('#svg_hist_chart').select('#inner_graph');

    svg.call(tip);

    var svg2 = svg.selectAll("rect")
        .data(data, function(d){return d.indexkey;})

    svg2.exit().remove();

    svg2.enter().append("rect").attr("class", "hist_bar")
        .merge(svg2)
        .attr("x", function(d) { return x(d.comorbidevent); })
        .attr("y", function(d) { return y(d.RR); })
        .attr("width", x.bandwidth())
        .attr("height", function(d) { return hist_chart_height - y(d.RR); })
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide)

    var yAxis = d3.axisLeft(y);

    svg.select(".y.axis")
        .transition()
        .duration(200)
        .call(yAxis);

    var xAxis = d3.axisBottom(x);

    svg.select(".x.axis")
        .transition()
        .duration(200)
        .call(xAxis);




    d3.select("#ndtext").remove()

    if (d3.select("#xlabel").empty())
    {

    svg.append("text") 
      .attr("id", "xlabel")             
      .attr("transform",
            "translate(" + (hist_chart_width/2) + " ," + (hist_chart_height + chart_margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("Comorbid ICD");

    svg.append("text")
      .attr("id", "ylabel")   
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - chart_margin.left)
      .attr("x",0 - (hist_chart_height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Hazard Ratio"); 
    }

    if (data.length===0)
    {
        svg.append("text")
          .attr("id", "ndtext")         
          .attr("transform",
            "translate(" + (hist_chart_width/2) + " ," + (hist_chart_height - 80) + ")")
          .style("font-size", "26px")
          .style('font-weight', 'bold')
          .style("text-anchor", "middle")
          .style('text-color', '#525252')
          .text("No data available");

          d3.select("#xlabel").remove()
          d3.select("#ylabel").remove()
    }


      
}




function change_hist_chart_after(data) {

    // if (data[metric].length > 0)
    // {

    
    var x = d3.scaleBand()
        .rangeRound([0, hist_chart_width])
        .padding(0.1)
        .domain(data.map(function(d) { return d.comorbidevent; }));

    var y = d3.scaleLinear()
        .range([hist_chart_height, 0])
        .domain([0, d3.max(data, function(d) { return d.RR; })]);

    var tip = d3.tip()
        .attr('class', 'd3-tip')
        .html(function(d) { 
            return "<p style='color:red' align='center'>" + d.label + "</p>" +
                    "<p> <strong>N with </strong>" + d.comorbidevent + ": " + d.count_a + "</p>" +
                    "<p> <strong>With </strong>" + d.comorbidevent + ": " + d.count_a_count_ab + "</p>" +
                    "<p> <strong>Without </strong>" + d.comorbidevent + ": " + d.count_c_count_cd + "</p>" +
                    "<p> <strong>P: </strong>" + d.signlabel + "</p>"
             });

    var xAxis = d3.axisBottom(x);

    var yAxis = d3.axisLeft(y);

    
    var svg = d3.select('#svg_hist_chart_after').select('#inner_graph');

    svg.call(tip);

    var svg2 = svg.selectAll("rect")
        .data(data, function(d){return d.indexkey;})

    svg2.exit().remove();

    svg2.enter().append("rect").attr("class", "hist_bar")
        .merge(svg2)
        .attr("x", function(d) { return x(d.comorbidevent); })
        .attr("y", function(d) { return y(d.RR); })
        .attr("width", x.bandwidth())
        .attr("height", function(d) { return hist_chart_height - y(d.RR); })
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide)

    var yAxis = d3.axisLeft(y);

    svg.select(".y.axis")
        .transition()
        .duration(200)
        .call(yAxis);

    var xAxis = d3.axisBottom(x);

    svg.select(".x.axis")
        .transition()
        .duration(200)
        .call(xAxis);




    d3.select("#ndtext").remove()

    if (d3.select("#xlabel").empty())
    {

    svg.append("text") 
      .attr("id", "xlabel")             
      .attr("transform",
            "translate(" + (hist_chart_width/2) + " ," + (hist_chart_height + chart_margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("Comorbid ICD");

    svg.append("text")
      .attr("id", "ylabel")   
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - chart_margin.left)
      .attr("x",0 - (hist_chart_height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Hazard Ratio"); 
    }

    if (data.length===0)
    {
        svg.append("text")
          .attr("id", "ndtext")         
          .attr("transform",
            "translate(" + (hist_chart_width/2) + " ," + (hist_chart_height - 80) + ")")
          .style("font-size", "26px")
          .style('font-weight', 'bold')
          .style("text-anchor", "middle")
          .style('text-color', '#525252')
          .text("No data available");

          d3.select("#xlabel").remove()
          d3.select("#ylabel").remove()
    }


      
}



function time_chart(data) {


    var x = d3
            .scaleTime()
            .range([0, hist_chart_width]);
            
    var y = d3.scaleLinear()
            .range([hist_chart_height, 0]);




    var svg = d3.select('#svg_time_chart')
        .attr("width", hist_chart_width)
        .attr("height", hist_chart_height)
        .append("g")
        .attr("transform", "translate(" + chart_margin.left + "," + chart_margin.top + ")");


    var parseTime = d3.timeParse("%Y");



    var valueline = d3.line()
         .x(function(d) { return x(d.year); })
         .y(function(d) { return y(d.incidence); });



    data.map(function(d) {
      d.year = parseTime(d.year)
      d.incidence = +d.incidence
     });


    x.domain(d3.extent(data, function(d) { return d.year; }));
    y.domain([0, d3.max(data, function(d) { return d.incidence; })]);



    svg.append("path")
      .datum(data)
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", valueline);


    svg.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + hist_chart_height + ")")
      .call(d3.axisBottom(x))

    svg.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y))


    svg.append("text")           
      .attr("transform",
            "translate(" + (hist_chart_width/2) + " ," + (hist_chart_height + chart_margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("Year");

    svg.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", -5 - chart_margin.left)
      .attr("x",0 - (hist_chart_height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Incidence proportion"); 


}




map_margin = {top: 5, right: 5, bottom: 5, left: 5},
    map_chart_width = 200 - chart_margin.left - chart_margin.right,
    map_chart_height = 400 - chart_margin.top - chart_margin.bottom;


function map_chart() {



    var svg = d3.select('#svg_map_chart')
        .attr("width", map_chart_width)
        .attr("height", map_chart_height)
        .append("g")


    var color=d3.scaleQuantize()
    .range(["rgb(237,248,233)","rgb(186,228,179)","rgb(116,196,118)","rgb(49,163,84)","rgb(0,109,44)"])
    .domain([0,100]);


    var projection = d3.geoMercator()
      //.scale((1 << 22) / 2 / Math.PI)
      .scale(850)
      .translate([map_chart_width / 2, map_chart_height / 2])
      .center([23.208320099999997,66.8130752])
      //.translate([50, 700])


    var path = d3.geoPath()
      .projection(projection);


    var div2 = d3.select("body").append("div2")
    .attr("class", "tooltip")
    .style("opacity", 0);


    d3.json("/static/finland.geojson", function(err, geojson) {

        d3.csv("/static/kuntavakiluku.csv",
        function(data){
            color.domain([d3.min(data,function(d){return d.Vakiluku;}),d3.max(data,function(d){return d.Vakiluku;})]);

            for(var i=0;i<data.length;i++){
                var dataState=data[i].Kunta;var dataValue=parseInt(data[i].Vakiluku);
                for(var j=0;j<geojson.features.length;j++){var jsonState=geojson.features[j].properties.text;
                    if(dataState==jsonState){geojson.features[j].properties.value=dataValue;break;}}}

            var features = geojson.features;

              // Draw each province as a path
            svg.selectAll("path")
                  .data(features)
                  .enter().append('path')
                  .attr('d', path)
                  .style("stroke","rgb(0,109,44)")
                  .style('fill', setNormalColor)
                  .on("mouseover",function(d){
                    d3.select(this)
                       .style("fill", "orange");
                    div2.transition()
                        .duration(200)
                         .style("opacity", 1);
                    div2.html("<span style='color:red'>" + d.properties.text + ": " + d.properties.value + "</span>")
                         .style("left", (d3.event.pageX) + "px")
                         .style("top", (d3.event.pageY - 28) + "px");
                   })
                  .on("mouseout", function(d) {
                   div2.transition()
                     .duration(500)
                     .style("opacity", setNormalColor(d));
                   d3.select(this)
                     .style("fill", setNormalColor(d));   
                   });

        });      
    });



var setNormalColor=function(d){var value=d.properties.value;if(value){return color(value);}else{return"red";}};


}



$(document).ready(function() {

        window.res_mod={{ res_mod|tojson|safe }};
        window.res_mod_after={{ res_mod_after|tojson|safe }};
        window.incidence={{ incidence|tojson|safe }};
        window.mort_rate={{ mort_rate|tojson|safe }};
        window.read_rate={{ read_rate|tojson|safe }};
        window.com_comorb={{ com_comorb|tojson|safe }};


        var temp = res_mod.filter(function (obj) {
                return obj.time === '8-999999999999';});
        var first_datain = temp.sort(function(a, b) {
                return parseFloat(b.RR) - parseFloat(a.RR);});


        var temp = res_mod_after.filter(function (obj) {
                return obj.time === '8-999999999999';});
        var first_datain_after = temp.sort(function(a, b) {
                return parseFloat(b.RR) - parseFloat(a.RR);});

        hist_chart(first_datain.slice(0,20))
        hist_chart_after(first_datain_after.slice(0,20))
        time_chart(window.incidence)
        map_chart()


        $('.hist_buttons').change(function () {
            var v1 = $(this).attr('id'); 

            var data = window.res_mod
            var data_after = window.res_mod_after
            
            var temp = data.filter(function (obj) {
            return obj.time === v1 & obj.RR >= 1;});
            var data_query = temp.sort(function(a, b) {
            return parseFloat(b.RR) - parseFloat(a.RR);});

            var temp2 = data_after.filter(function (obj) {
            return obj.time === v1 & obj.RR >= 1;});
            var data_query_after = temp2.sort(function(a, b) {
            return parseFloat(b.RR) - parseFloat(a.RR);});

            change_hist_chart(data_query.slice(0,20));
            change_hist_chart_after(data_query_after.slice(0,20));
            

            
        });
        // newvar2 =   {{ prevalence_F }} + 100
        // $("#editable_div").html("<b>"+newvar2+"</b>")

});



</script>



<div class="container-fluid">

    <div class="col-md-10 col-xs-offset-1 col-md-offset-1">
        <h1> ICD code: <a href="http://apps.who.int/classifications/icd10/browse/2016/en#/{{ code }}">{{ code }} </a> - {{ label }} </h1>
        <hr/>
    </div>

    
    <div class="col-md-8 col-xs-offset-1 col-md-offset-1">
      <h3> Descriptive statistics </h3>
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-top: 4px;"> </th>
                    <th style="padding-top: 4px;"> Male </th>
                    <th style="padding-top: 4px;"> Female </th>
                    <th style="padding-top: 4px;"> Total </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> N. individuals </td>
                    <td> {{ n_events_M }} ( {{n_events_M_per}}%)</td>
                    <td> {{ n_events_F }} ( {{n_events_F_per}}%)</td>
                    <td> {{ n_events_TOT }} </td>
                </tr>
                <tr>
                    <td> N. individual with event after baseline </td>
                    <td> {{ n_afterbs_M }} ( {{n_afterbs_M_per}}%) </td>
                    <td> {{ n_afterbs_F }} ( {{n_afterbs_F_per}}%) </td>
                    <td> {{ n_afterbs_TOT }} </td>
                </tr>
                <tr>
                    <td> Prevalence (%) </td>
                    <td > {{ prevalence_M }} </td>
                    <td> {{ prevalence_F }} </td>
                    <td> {{ prevalence_TOT }} </td>
                </tr>
                <tr>
                    <td> Mean age at first event </td>
                    <td> {{ meanage_M }} </td>
                    <td> {{ meanage_F }} </td>
                    <td> {{ meanage_TOT }} </td>
                </tr>
                 <tr>
                    <td> Most common comorbidities (% and number of individuals) </td>
                    <td width="138"> {{ com_comorb[0]["value"][0] }} </td>
                    <td width="138"> {{ com_comorb[1]["value"][0] }} </td>
                    <td width="138"> {{ com_comorb[2]["value"][0] }} </td>
                </tr>
            </tbody>
        </table>
    </div> 
    
    {% if mort_rate %}
    <div class="row">
      <div class="col-md-4 col-xs-offset-1 col-md-offset-1">
          <h3> 5-year mortality </h3>
          <table class="table">
              <thead>
                  <tr>
                      <th style="padding-top: 4px;"> </th>
                      <th style="padding-top: 4px;"> </th>
                      <th style="padding-top: 4px;"> </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td> Hazard Ratio </td>
                      <td colspan="2"  style="text-align:center;"> {{ mort_rate[0].RR }} </td>
                  </tr>
                  <tr>
                      <td rowspan ="6" > Absolute Risk </td>
                      <td>  Men - 40 y. </td>
                      <td>  {{mort_rate[0].abs_40_M }} </td>
                  </tr>
                  <tr>
                      <td> Women - 40 y. </td>
                      <td> {{mort_rate[0].abs_40_F }} </td>
                  </tr>
                  <tr>
                      <td> Men - 50 y. </td>
                      <td> {{mort_rate[0].abs_50_M }} </td>
                  </tr>
                  <tr>
                      <td> Women - 50 y. </td>
                      <td> {{mort_rate[0].abs_50_F }} </td>
                  </tr>
                  <tr>
                      <td> Men - 60 y. </td>
                      <td> {{mort_rate[0].abs_60_M }} </td>
                  </tr>
                  <tr>
                      <td> Women - 60 y. </td>
                      <td> {{mort_rate[0].abs_60_F }} </td>
                  </tr>
              </tbody>
          </table>
      </div> 
    {% endif %}
    {% if read_rate %}
      <div class="col-md-4 col-xs-offset-1 col-md-offset-1">
          <h3> 30-days in-patient readmission </h3>
          <table class="table">
              <thead>
                  <tr>
                      <th style="padding-top: 4px;"> </th>
                      <th style="padding-top: 4px;"> </th>
                      <th style="padding-top: 4px;"> </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td> Readmitted/total </td>
                      <td colspan="2"  style="text-align:center;"> {{read_rate[0].readmitted_prop}} </td>
                  </tr>
                  <tr>
                      <td rowspan ="6" > Probability </td>
                      <td>  Men - 40 y. </td>
                      <td>  {{read_rate[0].abs_40_M }} </td>
                  </tr>
                  <tr>
                      <td> Women - 40 y. </td>
                      <td> {{read_rate[0].abs_40_F }} </td>
                  </tr>
                  <tr>
                      <td> Men - 50 y. </td>
                      <td> {{read_rate[0].abs_50_M }} </td>
                  </tr>
                  <tr>
                      <td> Women - 50 y. </td>
                      <td> {{read_rate[0].abs_50_F }} </td>
                  </tr>
                  <tr>
                      <td> Men - 60 y. </td>
                      <td> {{read_rate[0].abs_60_M }} </td>
                  </tr>
                  <tr>
                      <td> Women - 60 y. </td>
                      <td> {{read_rate[0].abs_60_F }} </td>
                  </tr>
              </tbody>
          </table>
      </div> 
    {% endif %}
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-5  col-xs-offset-1 col-md-offset-1">
          <h3>Report</h3>
          <div class="card">
              <div class="card-block">
                  <h4> {{ report_out }}
                </h4>
              </div>
          </div>
          <hr/>
      </div>
      <div class="col-md-5  col-xs-offset-1 col-md-offset-1">
          <h3>Map</h3>
              <svg style="width: 200; height:400" class="hidden-xs" id="svg_map_chart"/>
      </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-xs-offset-1 col-md-offset-1">
            <h3>Hazard Ratio Summary</h3>
            <br>
            <div class="row col-md-10 col-md-offset-0">
                <span class="hidden-xs">
                    <label for="hist_buttons">
                        Dispaly:
                    </label>

                    <span class="btn-group" data-toggle="buttons" id="hist_buttons">


                        <button class="btn btn-primary active hist_buttons"
                              id="8-999999999999" data-tooltip="Includes all comorbidities">
                          <input type="radio">All</input>
                        </button>

                        <button class="btn btn-primary hist_buttons"
                              id="8-30" data-tooltip="Comorbidities between 8 and 30 days">
                          <input type="radio">8-30 days</input>
                        </button>

                        <button class="btn btn-primary hist_buttons"
                              id="30-90" data-tooltip="Comorbidities between 31 and 90 days">
                          <input type="radio">31-90 days</input>
                        </button>

                        <button class="btn btn-primary hist_buttons"
                              id="90-365" data-tooltip="Comorbidities between 91 and 365 days">
                          <input type="radio">91-365 days</input>
                        </button>

                    </span>
                </span> 
                <br>
                <br>
                <h4>ICD codes (N>10) observed before {{ code }} </h4>
                <br
                <span style="overflow-x: scroll; display: inline-block">
                    <svg style="width: 800; height:300" class="hidden-xs" id="svg_hist_chart"/>
                </span>
                <br>
                <h4>ICD codes (N>10) observed after {{ code }} </h4>
                <br>
                <span style="overflow-x: scroll; display: inline-block">
                    <svg style="width: 800; height:300" class="hidden-xs" id="svg_hist_chart_after"/>
                </span>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Time trend</h3>
            <span style="overflow-x: scroll; display: inline-block">
                <svg style="width: 800; height:300" class="hidden-xs" id="svg_time_chart"/>
            </span>
        </div>
    </div>

</div>



{% endblock %}
